<h2>Por pais</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off">
            <input type="text" name="termino" class="form-control" [(ngModel)]="termino" placeholder="Buscar por pais....">
        </form>
    </div>
</div>

<hr>

<div class="alert alert-danger">
No se encontro ni .osta con ese termino de busqueda.
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>Nombre</td>
                    <td>1213135456</td>
                    <td>
                        <a href="·">ver mas</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>